<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784530556227-fur3kk4c20dh38km0u2mcp2lbgq9hkmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784530556227-fur3kk4c20dh38km0u2mcp2lbgq9hkmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBgXA-YMVqOp84Wdumv5rXcPgHr-_vZ6A0</string>
	<key>GCM_SENDER_ID</key>
	<string>784530556227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.MVVM-project</string>
	<key>PROJECT_ID</key>
	<string>movies-app-69cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-69cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784530556227:ios:49fea3a226925b005b5bf6</string>
</dict>
</plist>